
@function setDirection($dirvar) {
  @return $dirvar;
}
body {
  $direction:setDirection(left);
}
/* Utility Function */
@function size ($size, $unit:null) {
  @if $unit == null {
    @return $size;
  } @else {
    @return $size + $unit;
  }
}

/*Variables */
$fullWidth: 100%;
$White: #fff;
$posRelative: relative;
$posAbsolute: absolute;
$disBlock: block;
$disInline: inline-block;
$disTbl: table;
$tblCell: table-cell;
$alignLeft: left;
$alignRight: right;
$alignCenter: center;
$overflowHiddn: hidden;
$normal: normal;
$none: none;
$noValue:0;
$fontBold: bold;
$fontSemiBold: 600;
$cursorPointer: pointer;
$transparent: transparent;
$direction: left;

/* Colors */
$grey:(xlt: #f7f7f7, lgt: #e8ebef, mdm: #dededf, drk: #acacac);
$blueGrey:(xlt: #9d9fa2, lgt: #6a6c6f, mdm: #292929, drk: #293846);
$teal:(lgt: #a6dbd1, mdm: #00bfa5, drk: #01897b);
$blue:(xlt: #def4fd, lgt: #c4e8f6, mdm: #03a9f5, drk: #27568e);
$green:(lgt: #d2e9bd, mdm: #32c787, drk: '');
$yellow:(lgt: #f4f5aa, mdm: #fec107, drk: '');
$red:(lgt: #ffe4ee, mdm: #f3cacc, drk: #f54337);
$purple:(lgt: #d6c0de, mdm: #aa6bc4, drk: #3f51b5);

/* Mixin */
// Body mixin
@mixin body() {
  @include font-size(0.98vw);padding: $noValue;margin: $noValue;font-family: 'Open Sans',sans-serif;-webkit-font-smoothing: antialiased;background-color: map_get($grey,lgt) !important;
}

// This mixin would be used for margin and padding
@mixin setProperty($property,$values) {
  @each $prop in $property{
    $i: index($property,$prop);
    #{$prop}: nth($values,$i);
  }
}
//font-size
@mixin font-size($font-size) {
  font-size: $font-size;
}
//Width
@mixin width($width) {
  width: $width;
}

// Will align element in center position
@mixin elementCenter() {
  @include setProperty((position,top,right,bottom,left,margin),(absolute,0,0,0,0,auto));
}
//Text Ellipsis
@mixin elementEllipsis() {
  @include setProperty((overflow,text-overflow,white-space),(hidden,ellipsis,nowrap));
}
//Center block
@mixin centerBlock() {
  @include setProperty((margin-left,margin-right,display),(auto,auto,block));
}

//Border
@mixin borderAcross($width, $style, $color) {
  border: $width $style $color;
}

//Border with Direction
@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

//Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Box shadow
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

// Transform for animation
@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// Transition
@mixin transition ($type,$time,$animation) {
  transition			: $type $time $animation;
  -moz-transition		: $type $time $animation;
  -webkit-transition	: $type $time $animation;
  -o-transition		    : $type $time $animation;
}

// Animation transform
@mixin transform($scale,$value) {
  -moz-transform: $scale,$value;
  -webkit-transform: $scale,$value;
  transform: $scale,$value;
}

// Rotate Transform
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}


//Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  //Opacity For IE
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

// Word break
@mixin wordBreak() {
  @include setProperty((word-break,word-wrap),(break-all,break-word));
}

// Disable
@mixin disable() {
  @include setProperty((opacity,cursor,pointer-events),(0.5,not-allowed,none));
}

// Loader
@mixin loader() {
  @include setProperty((position,top,left,width,height,z-index,background),(fixed,0,0,100%,100%,9999,rgba(0,0,0,0.8)));
}

// Font Awesome
@mixin fontAwesome() {
  @include setProperty((display,font,text-rendering,-webkit-font-smoothing),(inline-block,normal normal normal 14px/1 FontAwesome,auto,antialiased));
}

@function borderVariant($type) {
  @if $type == xs {
    @return size(1,px);
  }
  @if $type == sm {
    @return size(2,px);
  }
  @if $type == md {
    @return size(3,px);
  }
  @if $type == lg {
    @return size(5,px);
  }
}

// Rounded Images
@mixin circleImg() {
  @include setProperty((width,height,border,margin,border-radius,overflow,position,),());
}
@mixin setBorder($color:mdm,$size:md) {
  // todo-rikul make color variant function
  @include setProperty((border-width,border-style,border-color),(borderVariant($size), solid, map_get($teal,$color)));
}

/* Margins, Padding and Width */
@function sizeVariant($type) {
  @if $type == xs {
    @return size(5,px);
  }
  @if $type == sm {
    @return size(5,px);
  }
  @if $type == md {
    @return size(5,px);
  }
  @if $type == lg {
    @return size(5,px);
  }
  @if $type == xl {
    @return size(5,px);
  }
}

/* Dynamic Width classes */
$width:(10,20,30,40,50,60,70,80,90,100,120,130,150, 220,250,350,450,500,650);
@mixin setWidth($property,$values,$unit:''){
  @each $value in $values {
    .#{$property}-#{$value}{
      #{$property }: $value + $unit !important;
    }
  }
}
$colors:("red": #FF3301,blue : #18B0F4,yellow : #FFC15C,green: #3EC98E);
@mixin setColor($color){
  @each $key,$value in $colors {
    .color-#{$key} {
      color: $value;
    }
  }
}