@import './config.scss';
/* Button */
a,a:hover,a:focus {
  @include font-size(12px);
  text-decoration: $none !important;
  outline: $noValue !important;
  cursor: $cursorPointer;
  color: rgb(171, 171, 171);
}
a:hover {
  color: rgb(41, 41, 41)
}
li {
  list-style: $none;
}
ul {
  padding: $noValue;
  margin-bottom: $noValue !important;
}
input:-moz-read-only {
  border: $none;
}
input:read-only {
  border: $none;
}
input[type=text]::-ms-clear {
  display: $none;
}
textarea, input[type='text'],input[type='email'], input[type='search'], input[type='password'] {
  -webkit-appearance: $none;
}
::-moz-selection {
  color: $White;
  background: #01a28c !important;
}
::selection {
  color: $White;
  background: #01a28c !important;
}
img {
  @include setProperty((vertical-align,border,max-width),(middle,0,100%));
}
/* Label */
label {
  @include font-size(12px);
  font-weight: $normal;
  //color: map_get($blueGrey,mdm);
  margin-bottom: $noValue
}
/* Text Box */
.form-control {
  @include font-size(12px);
  @include borderAcross(1px, solid, #dededf !important);
  @include transition(all,0.2s,linear);
  @include border-radius(0px);
  height: 38px;
  padding: 3px 10px;
  color: #292929;
}

